<h2><%= @collection.name %></h2>

<ul data-testid="journal-notes">
  <% @collection.journals.map(&:notes).flatten.each do |note| %>
    <li>
      <%= render partial: "notes/note", locals: {note: note} %>
    </li>
  <% end %>
</ul>
