<h2
  class="text-xl font-bold mb-[16px]"
>
  New Membership Journal
</h2>
<%= render partial: "form",
  locals: {
    membership_journal: @membership_journal,
    campaign: @campaign,
    journals: @journals
  }
%>
