<div
  class="flex flex-col items-center"
>
  <h1 class="text-3xl text-lime-300 font-bold mb-[16px]">Share your <em class="bg-gradient-to-r from-purplehaze to-rose-400 text-transparent bg-clip-text">adventuring notes</em> with your companions</h1>


  <div class="w-[300px] h-[300px] relative flex flex-col justify-end items-center border-2 border-white" data-controller="campfire">
    <div class="w-3/5 h-[100px] absolute bottom-0">
      <div class="w-[100px] h-[100px] absolute bottom-0 left-[15px] bg-[#c63509] opacity-90 rounded-2xl fire-pulse-low" data-campfire-target"base"></div>
      <div class="w-[60px] h-[60px] absolute bottom-0 right-[20px] bg-[#e0af68] opacity-80 rounded-2xl fire-pulse-low delay-pulse" data-campfire-target"base"></div>
      <div class="w-[100px] h-[100px] absolute bottom-1 right-[20px] bg-[#c63509] opacity-80 rounded-2xl fire-pulse-med" data-campfire-target"base"></div>
    </div>
    <div class="w-3/5 h-[100px] absolute bottom-0" data-campfire-target="logs">
      <div class="w-full h-[30px] absolute origin-center rotate-12 bg-[#965027] bottom-0 rounded-lg shadow-[0_3px_10px_#372113]"></div>
      <div class="w-full h-[30px] absolute origin-center -rotate-12 bg-[#965027] bottom-0 rounded-lg shadow-[0_3px_10px_#372113]"></div>
    </div>
  </div>


  <p
    class="mb-[16px]"
  >
    Organize your RPG notes. Style them with markdown. Share them with your party members. Never forget anything, unless you roll a nat 1.
  <ul
    class="w-full flex flex-col space-y-[16px]"
  >
    <li class="h-8 w-full text-center px-[8px] py-[4px] text-lg text-stone-300 bg-indigo-500 rounded-md hover:bg-indigo-600 focus:bg-indigo-700 hover:cursor-pointer">
      <%= link_to "Sign up", new_user_registration_path %>
    </li>
    <li class="h-8 w-full text-center px-[8px] py-[4px] text-lg text-stone-300 bg-indigo-500 rounded-md hover:bg-indigo-600 focus:bg-indigo-700 hover:cursor-pointer">
      <%= link_to "Sign in", new_user_session_path %>
    </li>
  </ul>
</div>
