<div>
  <h1 class="font-bold text-4xl">Share your adventuring notes with your companions.</h1>
  <p>Wherever your journeys take you, don't let them be forgotten! <strong>Ruby Scribe</strong> helps you keep your notes organized and share them with your friends. It was built with RPG players in mind and continues to work to help make your scribing easy.</p>
  <ul>
    <li><%= link_to "Sign up", new_user_registration_path %></li>
    <li><%= link_to "Sign in", new_user_session_path %></li>
  </ul>
</div>
