<h1 class="text-center text-3xl text-lime-300 font-bold mb-[16px]">Share your adventuring notes with your companions</h1>
<p
  class="text-center mb-[16px]"
>
  Organize your RPG notes. Style them with markdown. Share them with your party members. Never forget anything, unless you roll a nat 1.
<ul
  class="flex flex-col space-y-[16px]"
>
  <li class="h-8 w-full text-center px-[8px] py-[4px] text-lg text-stone-300 bg-indigo-500 rounded-md hover:bg-indigo-600 focus:bg-indigo-700 hover:cursor-pointer">
    <%= link_to "Sign up", new_user_registration_path %>
  </li>
  <li class="h-8 w-full text-center px-[8px] py-[4px] text-lg text-stone-300 bg-indigo-500 rounded-md hover:bg-indigo-600 focus:bg-indigo-700 hover:cursor-pointer">
    <%= link_to "Sign in", new_user_session_path %>
  </li>
</ul>
