<div>
  <h1 class="font-bold text-4xl">Notes</h1>
  <ul>
    <% @notes.each do |note| %>
      <li><%= note.body %></li>
      <%= button_to 'Delete Note', note_path(note), method: :delete,
                                   data: { turbo_confirm: 'Are you sure?' } %>
    <% end %>
  </ul>
</div>
