<div
  class="text-sm font-bold text-indigo-400"
>
  <%= comment.author.username %>
</div>
<p>
  <%= comment.body %>
</p>
<ul class="flex justify-end">
  <%# if allowed_to?(:manage?, comment) %>
    <li>
      <%= link_to edit_comment_path(comment), 
        data: {testid: "#{dom_id(comment)}-edit-link"},
        aria: {label: "edit comment"} do
      %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
        </svg>
      <% end %>
    </li>
    <li>
      <%= button_to comment_path(comment), method: :delete,
        data: {
          turbo_confirm: "This will permanently delete this comment. Are you sure?",
          testid: "#{dom_id(comment)}-destroy-btn"
        },
        aria: {label: "delete comment"} do
      %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.362 5.214A8.252 8.252 0 0112 21 8.25 8.25 0 016.038 7.048 8.287 8.287 0 009 9.6a8.983 8.983 0 013.361-6.867 8.21 8.21 0 003 2.48z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 18a3.75 3.75 0 00.495-7.467 5.99 5.99 0 00-1.925 3.546 5.974 5.974 0 01-2.133-1A3.75 3.75 0 0012 18z" />
        </svg>
      <% end %>
    </li>
  <%# end %>
</ul>
