<div>
  <h1 class="font-bold text-4xl"><%= current_user.username %>'s Dashboard</h1>
  <% if current_user.journals.any? %>

  <% else %> 
    <%= link_to "Create your first journal!", new_journal_path,
        data: { testid: "new-journal-link" } %>
  <% end %>

  <%= link_to "Create your first collection!", new_collection_path,
      data: { testid: "new-collection-link" } %>
</div>
