<%= form_with model: journal,
  class: "flex flex-col items-stretch mb-[16px]" do |form|
%>
  <div
    class="space-y-[16px]"
  >
    <div> 
      <%= form.label :name, "Journal Name",
        class: "block text-sm font-bold"
      %>
      <%= form.text_field :name,
        class: "w-full bg-slate-800 border-slate-700 rounded-md placeholder:italic placeholder:text-stone-600",
        placeholder: "Name your journal",
        data: {testid: "journal-name-input"}
      %>
    </div>
    <%= form.submit "Save Journal",
      class: "h-8 w-full px-[8px] text-lg text-white rounded-md bg-mauve-700 hover:bg-mauve-600 focus:bg-mauve-800 hover:cursor-pointer",
      data: {testid: "journal-save-btn"}
    %>
  </div>
<% end %>
