<h1
  class="text-xl text-lime-300 font-bold mb-[8px]"
>
  Edit Journal
</h1>

<%= render partial: "form", locals: {journal: @journal} %>
<%= button_to "Delete", journal_path(@journal), method: :delete,
  class: "h-8 w-full px-[8px] text-lg text-stone-300 bg-rose-400 rounded-md hover:bg-rose-500 focus:bg-rose-600 hover:cursor-pointer",
  data: {
    turbo_confirm: "Are you sure? All notes in the journal will be lost!",
    testid: "journal-delete-btn"
  } %>
