<%= link_to "Back to #{@campaign.name}", campaign_path(@campaign) %>

<h2
  class="text-xl text-lime-300 font-bold mb-[16px]"
>
  Edit <%= @campaign.name %>
</h2>
<%= render partial: "form",
  locals: {campaign: @campaign, journals: @journals}
%>
