<p>
  <%= invitation.message %>
</p>

<div>
  <%= button_to "Accept", accept_users_invitation_path(invitation),
    data: {
      testid: "accept-invitation-btn"
    } %>
  <%= button_to "Delete", invitation_path(invitation), method: :delete,
    data: {
      testid: "invitation-delete-btn"
    } %>
</div>
