<h1><%= current_user.username %>'s Collection Invitations</h1>
<ul data-testid="invitations-list">
  <% @invitations.each do |invitation| %>
    <li>
      <%= render partial: "invitation", locals: {invitation: invitation} %>
    </li>
  <% end %>
</ul>
